a.admin-navbar-link {
  color: white !important;
  text-decoration: none;
}

//.navbar-expand-lg .navbar-nav .dropdown-menu {
//  left: -3.5em;
//}

a.nav-link {
  color: white !important;
  text-decoration: none;
}

.dropdown-item  > a {
  color: #212529;
  text-decoration: none;
}

span.dashboard-user-margin {
  color: white !important;
}

.dropdown-menu-item {
  display: flex;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
}
a.dropdown-menu-item {
  color: #16181b;
  text-decoration: none;
}

.dropdown-menu-item.btn.btn-link{
  color: #212529;
  text-decoration: none;
}

.nav-position {
  top:0;
  width: 100%;
  position: fixed;
}

.content-show {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
}

.dropdown-toggle::after {
  content: none;
}

.dashboard-nav-width {
  width: 100%;
}

.dashboard-profile-image {
  height: 3.5rem;
  width: 3.4rem;
  padding: 0.3rem;
}

.dashboard-user-margin {
  margin-left: 1rem;
}